.App {
  text-align: center;
} 

 main {
  width: 100%;
}

.container {
  position: relative;
}

.bottom-div {
  width: 200px;
  height: 200px;
  background-color: blue;
}

.hovered {
  opacity: 0.5;
}

.top-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.container:hover .top-div {
  opacity: 1;
}


@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mouse Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#c6e6ca, #ffb6c1); /* Mint Green to Pink Rose */
  border-radius: 5px;
}

/* Mouse Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#ffb6c1, #c6e6ca); /* Pink Rose to Mint Green */
}



html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
} 


/* Add CSS for the slide-in animation */
.slide-in {
  transform: translateX(-50px); /* Start position before sliding in */
  opacity: 0; /* Start with opacity 0 */
  transition: transform 1s ease, opacity 1s ease; /* Transition for sliding effect */
}

.slide-in.in-view {
  transform: translateX(0); /* Slide to the original position */
  opacity: 1; /* Fade in when in view */
}

