.contact-intro {
  width: 70%;
  margin: auto;
  color: black;
  margin-top: 4%;
}

.contact-intro p {
  font-size: 18px;
}

h1 {
  color: rgba(4, 4, 52, 0.879);
  font-size: 50px;
}

form {
  width: 70%;
  margin: auto;
}

.form-page {
  overflow: hidden;
  padding-top: 50px;

  /* background-color: rgba(240,163,169,255); */

  /* background-color: #f6c1bc; */

  /* width: 70%; */

  /* margin: auto; */
  padding-bottom: 90px;

  /* margin-top: 7%; */
  border-radius: 5px;

  /* margin-bottom: 5%; */

  /* position: relative; */

  /* border: 1px solid black; */

  /* position: fixed; */

  /* top: 0; */

  /* left: 0; */
  width: 100vw;
  height: 100vh;
}

input {
  border: 0;
  border-bottom: 1px solid grey;
  padding: 20px;
  width: 80%;
  margin-bottom: 40px;

  /* font-family: 'Roboto'; */
  outline: none;
  font-size: 20px;
}

textarea {
  border: 0;
  border-bottom: 1px solid grey;
  padding: 20px;
  width: 80%;
  font-size: 20px;
  outline: none;
}

input::placeholder {
  font-weight: lighter;
}

.submit-button {
  padding: 15px;
  margin-top: 40px;
  background-color: rgb(232, 149, 241);
  color: black;
  border: 0;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  width: 20%;
  transition: 1s ease;
  background-size: 200% 100%;
  background-position: right bottom;
}

.submit-button:hover {
  background-position: left bottom;
  transform: scale(1.1);
  color: white;
  border: 0;
}

.mainPage {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  background-color: rgb(204, 253, 212);
  align-self: flex-end;
  position: absolute;
  font-weight: bold;

  /* right: 0; */
  left: 1000px;

  /* top: 550px; */

  /* border-radius: 50%; */
  height: 100px;
  width: 100px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: 3s ease-in-out;
  color: rgb(41, 4, 41);
}

.mainPage:hover {
  padding: 50px;
  color: black;
  background-color: mistyrose;
  font-size: 20px;

  /* top: 480px; */

  /* left: 1190px; */
  font-weight: bold;
}
