.contact-session {
  margin-top: 30px;
  padding: 10vh 0;
}

.work-together {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
}

.work-together p {
  width: 40%;
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
}

/* full page  */

.contact-session-page {
  background-color: black;
  height: 100%;
  width: 100%;
}

.send-message {
  margin: 0;
  padding-top: 35vh;
  font-size: 28px;
  text-align: center;
}

.profile-get-in-touch {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding-top: 20vh;
}

.profile-get-in-touch img {
  height: 75vh;
  width: 27vw;
}

.in-touch-comment-large {
  font-size: 200px;
  text-align: right;
  line-height: 170px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.in-touch-comment-mini {
  display: none;
}

.in-touch-comment {
  text-align: right;
  font-size: 13px;
  color: white;
}

.profile-get-in-touch div {
  padding-top: 20vh;
}

.email-div {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
  margin-top: 40px;
  transition: 1s ease-in-out;
  margin-bottom: 20vh;
}

.connect-via-social-ribbon {
  text-align: center;
  width: 15%;
  margin: auto;
  font-size: 24px;
  padding-top: 25vh;
  color: white;
}

.email {
  margin: auto;
  color: black;
  font-size: 120px;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

.social-contact {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  text-align: center;
  padding-bottom: 30vh;
}

.social-contact a {
  font-size: 130px;
  margin: 0;
  line-height: 130px;
  padding: 0;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.contact-footer {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  padding: 20px;
}

.footer-links-social {
  display: flex;
  width: 12%;
  justify-content: space-between;
}
