.each-project-page {
  background-color: yellow;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.backity {
  position: absolute;
  top: 300px;
  left: 200px; 
  z-index: 9999;
}

.each-project-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Adjust the z-index value as needed */
  background-color: yellow; /* Adjust the background color and opacity as needed */
  /* overflow: hidden; */
}

