.portfolio-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 250px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.reserved-footer {
  margin: auto;
  font-size: 18px;
  position: relative;
  color: rgb(233, 217, 217);
  /* background-color: red; */
  bottom: -65%;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.footer-socials a {
  margin-right: 30px;
}
