.portfolio-footer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  color: black;
  text-align: center;
  /* font-weight: bold; */
  padding: 50px 0;
  margin: auto;
  /* margin-right: 5%; */
  /* margin-left: 10%; */
  /* background-color: red; */
}

.footer-component {
  /* background-color: #e1dfdd; */
  background-color: rgb(254, 244, 230);
  padding-top: 50px;
}

.footer-text {
  color: black;
  font-size: 18px;
}

.social-text-div {
  display: flex;
  gap: 20px;
  vertical-align: center;
  margin-top: 15px;
}