.footer-component {
  background-color: #f0f0f0;
  /* background-color: #c8c8c8; */
  /* background-color: rgba(28,31,46,255); */
  padding-top: 50px;
}

.portfolio-footer {
  width: 85%;
  display: flex;
  justify-content: space-between;
  color: black;
  text-align: center;
  padding: 50px 0;
  margin: auto;
}

.footer-text {
  color: black;
  font-size: 18px;
}

.social-text-div {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
