.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: linear-gradient(to right, #000, #111);
  color: #fff;
  padding-left: 100px;
  padding-right: 45px;
}

.brand {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rest{
  font-size: 35px;
  text-align: end;
}


.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 25px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}





/* .desktop-brand-and-nav-links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.nav-links-ul {
  display: flex;
  list-style-type: none;
  height: 100%;
  background-color: #ec5242;
  align-items: center;
  align-content: center;
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  width: 100%;
  transition: 0.3s;
  padding: 0;
}

.nav-links {
  top: 70px;
  padding: 10px;
  /* padding: 20px; */
  width: 100%;
  align-content: center;
}

.nav-links:hover {
  background-color: #ff8d8d;
}

.nav-links a {
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  text-decoration: none;
  width: 100%;
  align-items: center;
  color: white;
}

.logo {
  display: none;
  text-decoration: none;
}

.hamburger {
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  /* border: 1.5px solid green;
  padding: 15px;
  border-radius: 50%; */
}

.bar {
  display: block;
  width: 40px;
  height: 2.5px;
  margin: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: rgb(233, 217, 217);
  border-radius: 2px;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(20px) rotate(70deg);
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(-20px) rotate(-70deg);
}

.hamburger.active .bar:nth-child(2) {
  /* opacity: 0; */
  height: 45px;
  width: 2.5px;
  margin-left: 60px;
  /* align-self: flex-end; */
}

/* .hamburger.active .bar:nth-child(4) {
  height: 45px;
  width: 2.5px;
  background-color: blue;
  background-color: rgb(233, 217, 217);
} */

.nav-links-ul.active {
  left: 0;
  margin: 0;
}

.fourthbar-div {
  /* display: flex; */
  /* flex-direction: column; */
}

.fourthbarsddf {
  display: block;
  height: 45px;
  width: 2.5px;
  margin: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  /* background-color: red ; */
  border-radius: 2px;
  background-color: rgb(233, 217, 217);
}
