.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: linear-gradient(to right, #000, #111);
  color: #fff;
  padding-left: 15%;
  padding-right: 15%;
}

.brand {
  font-size: 24px;
}

.nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 25px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}
