.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
  padding: 16px;
  color: #fff;
  padding-left: 100px;
  padding-right: 45px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
}

.brand {
  font-size: 30px;
  text-align: end;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.active {
  color: black;
}

/* .nav {
  display: flex;
  width: 100%;
} */

.hamburger {
  display: flex;
  cursor: pointer;
  margin-top: 20px;
  list-style-type: none;
  height: 100%;
  width: 100%;
  /* align-items: center; */
  /* align-content: center; */
  gap: 0;
  flex-direction: column;
  transition: 0.3s;
  padding: 0;
  z-index: 10;
}

.bar {
  display: block;
  width: 40px;
  height: 2.5px;
  margin: 7px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: rgb(171, 169, 169);
  border-radius: 2px;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

/* Sliding Navigation */

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-item {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-left: 25px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.slidingMenu {
  display: flex;
  position: fixed;
  list-style-type: none;
  height: 90vh;
  background-color: black;
  left: -100%;
  top: 0;
  gap: 0;
  flex-direction: column;
  width: 100%;
  transition: 1.2s;
  padding: 0;
  z-index: 10;
  align-items: center;
  padding-top: 70px;
  margin: auto;
}

.slidingMenu.active {
  left: 0;
  margin: 0;
  width: 100%;
}

.menu-counter-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  /* align-items: center; */
}

.nav-links-ul {
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.nav-links {
  text-decoration: none;
  padding: 10px;
  align-content: flex-start;
  width: 50%;
}

.nav-links a {
  display: flex;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  width: 70%;
  align-items: center;
  color: white;
  font-size: 100px;
  transition: 1s;
}

.nav-links span {
  display: inline-block;
  transition: transform 0.75s;
}

.nav-links:hover span {
  display: inline-block;
  transform: rotateY(180deg);
}

.menuTopDescription {
  font-size: 12px;
  width: 40%;
  margin: auto;
  color: white;
  margin-top: 100px;
  margin-right: 80px;
}

.menuFooterCounter {
  color: white;
  font-size: 200px;
  position: relative;
  top: 40%;
  margin-right: 80px;
  text-align: right;
}

.sliding-digit.slide-in {
  transition: transform 0.5s ease;
  transform: translateY(100%);
}

.slidingMenuFooter {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
  color: white;
  color: rgb(233, 217, 217);
  width: 85%;
  margin: 0 auto;
  opacity: 0.7;
}

.social-linkedin {
  display: flex;
  justify-content: space-between;
  width: 10%;
  color: rgb(233, 217, 217);
}
