@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.hero-intro {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: grid;
  background-color: black;
  width: 100%;
}

.hello {
  font-size: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  margin: auto;
  align-self: center;
  color: rgb(233, 217, 217);
  opacity: 0; /* Start with 0 opacity to be faded in */
  transition: opacity 2s ease-in;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in-about {
  opacity: 1;
  transition: 2s;
}

.visible {
  opacity: 1;
}

.about-me {
  opacity: 1;
}

.about-my-portfolio {
  position: relative;
  width: 100%;
  color: rgb(233, 217, 217);
  margin: auto;
  transition: opacity 15s ease-in;
}

.description {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.downloadCV {
  position: absolute;
  left: 450px;
  border: 2px solid rgb(9, 229, 9);
  padding: 10px 10px;
  border-radius: 40px;
  width: 100px;
  text-align: center;
  background-color: rgb(9, 229, 9);
  transition: 1s;
  animation: bounce 5s infinite;
}

.downloadCV:hover {
  background-color: black;
}

.downloadCV:active {
  background-color: rgb(9, 229, 9);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0); /* Initial and final position (no vertical movement) */
  }

  50% {
    transform: translateY(-20px); /* The element will bounce 20px upwards */
  }
}
