@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.hero-intro {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: grid;
  background-color: black;
  width: 100%;
}

.hello {
  font-size: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  margin: auto;
  align-self: center;
  color: rgb(233, 217, 217);
}

.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.about-me.visible {
  opacity: 1;
}

.about-my-portfolio {
  position: relative;
  width: 100%;
  color: rgb(233, 217, 217);
  margin: auto;
}

.description {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.downloadCV {
  position: absolute;
  left: 450px;
  border: 2px solid rgb(9, 229, 9);
  padding: 10px 10px;
  border-radius: 40px;
  width: 100px;
  text-align: center;
  background-color:  rgb(9, 229, 9);
  /* bottom: 20px; */
  /* background-color: red; */
}

.downloadCV:hover {
  background-color: black;
}

.downloadCV:active {
  background-color:  rgb(9, 229, 9);
}
