@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.hero-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
  display: grid;
  margin-top: -120px;
  background-color: black;
}

.hello {
  font-size: 300px;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: auto;
  align-self: center;
  vertical-align: top;
  color: rgb(233, 217, 217);
  /* margin-bottom: 280px; */
}