@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.intro-section {
  display: grid;
  grid-template-columns: 25% 60% 10%;
  background-color: black;
  height: 700px;
}

.my-case-study-intro {
  display: flex;
  margin: auto;
  margin-top: 48%;
  color: white;
  text-align: center;
  font-size: 20px;
}

p {
  margin: 0;
}

.name-job-div {
  margin-top: 13%;
}


.navigate-numbers {
  padding: 15px 40px;
  line-height: 60px;
  text-align: left;
  color: rgb(233, 217, 217);
  font-family: 'Work Sans', sans-serif;
}

.navigate-numbers-each {
  transform: rotate(270deg);
  opacity: 0.3;
  font-family: 'Work Sans', sans-serif;
}

.navigate {
  padding: 15px 40px;
  line-height: 60px;
  text-align: left;
  color: rgb(233, 217, 217);
  font-family: 'Work Sans', sans-serif;
  opacity: 0.7;
  cursor: pointer;
  transition: 1s;
}

.navigate p {
  transition: 1s;
}

.navigate p:hover {
  color: white;
  opacity: 1;
  font-size: 22px;
}

.name {
  font-size: 130px;
  font-weight: lighter;
  color: white;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}

.firstname {
  text-align: left;
}

.contact-me-div {
  margin: auto;
  height: 200px;
  width: 200px;
  font-size: 40px;
  border: 10px solid rgb(101, 101, 101);
  padding: 50px 60px;
  padding-top: 65px;
  font-weight: bold;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
  cursor: pointer;
  transition: 1s ease-in;
}

.contact-me-div:hover {
  border-radius: 50%;
  border: 10px solid #7d037d;
  padding: 70px;
}

.contact-anime {
  margin-top: 45px;
  text-align: center;
}

.tagline {
  font-size: 22px;
  color: rgb(233, 217, 217);
  font-style: italic;
  text-align: justify;
}

.lines-div {
  display: flex;
}

.line {
  display: block;
  height: 40px;
  width: 1.5px;
  margin: 7px;
  border-radius: 2px;
}

.lines-div:nth-child(2) {
  height: 70px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
