.honourable {
  padding-bottom: 7%;
  padding-top: 4%;
}

.honourable p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  margin-bottom: 3%;
  font-weight: 300;
}

.honourable-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  display: flex;
  color: black;
  gap: 50px;
}

.honourable-div a {
  color:black;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  background-color: rgb(255, 246, 246);
  font-size: 35px;
  width: 40%;
  text-align: center;
  font-weight: 300;
}