@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import 'App.css';
@import 'header.css';
@import 'socials.css';
@import 'floating.css';
@import 'projects.css';
@import 'contact.css';
@import 'about-me.css';
@import 'footer.css';
@import 'mouse_halo.css';
@import 'hero.css';
@import 'hello-hero.css';
@import 'project-cards.css';
@import 'honourable-mentions.css';
@import 'media-queries-768.css';
@import 'media-queries-320.css';
@import 'media-queries-1025.css';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}


.pageTransition {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

