@import 'welcome-page.css';
@import 'header.css';
@import 'socials.css';
@import 'floating.css';
@import 'projects.css';
@import 'contact.css';
@import 'about-me.css';
@import 'footer.css';
@import 'mouse_halo.css';
@import 'hero.css';
@import 'hello-hero.css';
@import 'project-details.css';

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
