@media (min-width: 1024px) and (max-width: 1300px) {
  /* Home page  */

  .email {
    font-size: 100px;
  }

  .projectTitle {
    width: 100%;
    font-size: 50px;
    text-align: left;
    margin-left: 0;
  }

  .project-brief {
    margin: auto;
    font-size: 22px;
    width: 100%;
  }

  .project-img-link {
    margin: 0;
    margin-bottom: 30px;
  }

  /* Header */
  .nav-links a {
    font-size: 70px;
  }

  .menuFooterCounter {
    font-size: 140px;
    top: 25%;
  }

  .slidingMenuFooter {
    top: 20px;
  }

  /* contact page */

  .in-touch-comment {
    text-align: right;
  }

  .in-touch-comment-large {
    font-size: 90px;
    line-height: 90px;
  }

  .connect-via-social-ribbon {
    text-align: center;
    width: 80%;
    font-size: 24px;
    padding-bottom: 70px;
  }

  .hello-email-ribbon {
    display: block;
    font-size: 24px;
    text-align: center;
  }
}
