@media (min-width: 280px) and (max-width: 767px) {
  /* Home page  */

  .hello {
    font-size: 80px;
  }

  .description {
    font-size: 20px;
    line-height: 24px;
  }

  .ribbon-case-study {
    font-size: 28px;
    color: rgb(5, 5, 58);
    margin: 0;
  }

  .projectTitle {
    width: 100%;
    font-size: 40px;
    text-align: left;
    margin: 0;
  }

  .each-project {
    width: 85%;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }

  .project-image-div {
    height: 45vh;
    width: 85vw;
  }

  .project-img-link {
    margin: 0;
    margin-bottom: 30px;
  }

  .project-brief {
    font-size: 16px;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 0;
    line-height: 20px;
    text-align: justify;
  }

  .email {
    font-size: 30px;
  }

  .footer-text {
    font-size: 16px;
    text-align: left;
  }

  .portfolio-footer {
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    padding: 0;
  }

  .social-text-div {
    flex-direction: column;
    gap: 5px;
  }

  .nav-links a {
    font-size: 50px;
    transition: 1s;
  }

  .menuTopDescription {
    display: none;
  }

  .menuFooterCounter {
    display: none;
  }

  .slidingMenuFooter {
    flex-direction: column;
    gap: 20px;
  }

  .nav-links-ul {
    padding-left: 10px;
  }

  .social-linkedin {
    flex-direction: column;
  }

  .all-socials {
    margin-right: 0;
  }

  .see-more-halo {
    display: flex;
    position: absolute;
    bottom: 20%;
    left: 35%;
    background-color: white;
    width: 80px;
    height: 80px;
    padding: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    align-items: center;
  }

  .legacy-projects {
    margin: 0 auto;
  }

  .contact-session {
    margin: 0;
    padding-bottom: 0;
  }

  .work-together p {
    margin-top: 0;
    align-self: center;
  }

  .downloadCV {
    left: 50px;
    top: 250px;
  }

  /* About me  */

  .heroAboutMe,
  .techStack {
    font-size: 35px;
    line-height: 35px;
  }

  .techStackSessions {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .eachTechStackSessions {
    width: 100%;
  }

  .nextProjectName {
    font-size: 20px;
  }

  .officeSetupImage {
    /* height: 40vh; */
    width: 100%;
  }

  .tech-fontawesome {
    display: none;
  }

  .roughNotation {
    display: none;
  }

  .stackTitle {
    position: absolute;
    top: 15px;
  }

  .section-description {
    grid-template-columns: 1fr;
  }

  .more-about-me {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }

  /* Contact Page  */

  .social-contact a {
    font-size: 40px;
    line-height: 50px;
  }

  .profile-get-in-touch img {
    display: none;
  }

  .in-touch-comment-large {
    /* display: none; */
    font-size: 30px;
    text-align: center;
    line-height: 35px;
  }

  .in-touch-comment {
    position: absolute;
    bottom: 20px;
    font-size: 10px;
  }

  .connect-via-social-ribbon {
    text-align: center;
    width: 60%;
    font-size: 18px;
  }

  .contact-footer {
    flex-direction: column;
    padding: 0;
    gap: 15px;
    padding-bottom: 20px;
  }

  .social-contact {
    display: flex;
    margin-top: 10vh;
    text-align: center;
    padding-bottom: 30vh;
  }

  .profile-get-in-touch {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }

  .hello-email-ribbon {
    display: block;
    text-align: center;
    font-size: 20px;
  }

  .footer-links-social {
    flex-direction: column;
  }
}

@media (min-width: 480px) and (max-width: 769px) {
  .hello {
    font-size: 120px;
  }

  .each-project {
    position: relative;
    bottom: -10px;
  }

  .description {
    font-size: 28px;
    line-height: 34px;
  }

  .about-my-portfolio {
    position: relative;
    width: 100%;
    margin: auto;
  }

  .in-touch-comment-mini {
    font-size: 40px;
    text-align: center;
    line-height: 30px;
    margin: auto;
  }

  .hello-email-ribbon {
    display: block;
    text-align: center;
  }
}

@media (min-width: 550px) and (max-width: 769px) {
  .officeSetupImage {
    height: 60vh;
  }

  .heroAboutMe,
  .techStack {
    font-size: 65px;
    line-height: 70px;
  }

  .hello-email-ribbon {
    display: block;
    text-align: center;
  }
}
