@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

html,
body,
.ProjectDiv {
  /* height: 100%; */
  margin: 0;
}

.ProjectDiv {
  width: 100vw;
  height: 100vh;
  background-color: rgba(83, 94, 90, 255);
  background-color: black;
}

.projectLinkTag {
  margin: auto;
  align-items: center;
}

.allProjectsImages {
  display: flex;
  width: 90%;
  scroll-snap-type: x mandatory;
  height: 75vh;
  margin: auto;
  padding-top: 7%;
  overflow-x: auto;
  white-space: nowrap;
  gap: 100px;
  overflow: hidden;
}

.imageContainer {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.projectImageDiv {
  z-index: 51;
}

.projectImage {
  height: 68vh;
  width: 25vw;
  align-self: center;
  transition: transform 1s ease-in-out;
  z-index: 11;
  border: 1px solid rgb(34, 34, 34);
  box-shadow: 15px 15px 40px 0 rgba(65, 65, 65, 0.2);
}

.projectImage:hover {
  transform: scale(1.05);
}

.projecImageTitle {
  display: flex;
  justify-content: space-between;
}

.projectPlusInfo {
  transition: filter 1s;
  display: flex;
}

.greyedOut {
  filter: grayscale(100%);
}

.projectInfo p {
  width: 80%;
}

.projectsFooter {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.projectsFooter p {
  color: white;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

/* List view */

.linkToProject {
  transition: 1.5s;
}

.linkToProject:hover {
  background-color: rgb(28, 28, 28);
}

.listView {
  cursor: pointer;
  text-decoration: underline;
  line-height: 10px;
}

.projectListView {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90vh;
  z-index: 5;
  overflow-y: auto;
  font-family: Montserrat, sans-serif;
  line-height: 170px;
  margin: auto;
  padding-top: 5vh;
  /* background-color: blue; */
  justify-content: center;
}

/* .projectListView {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90vh;
  z-index: 5;
  overflow-y: auto;
  font-family: Montserrat, sans-serif;
  line-height: 170px;
  margin: auto;
  justify-content: center;
}  */

.align {
  margin-top: 10%;
}

.projectListView::-webkit-scrollbar {
  display: none;
}

.projectListView p {
  color: white;
  font-size: 140px;
  cursor: pointer;
  transition: 1s;
  border: 0;
  border-top: 1px solid rgb(180, 180, 180);
  font-family: Montserrat, sans-serif;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.projectListView p:nth-of-type() {
  border-bottom: 1px solid rgb(180, 180, 180);
}

.followImage {
  width: 250px;
  height: 350px;
  position: fixed;
  pointer-events: none;
  cursor: none;
  transition: transform 3s ease-in-out;
}

.followImageDiv {
  bottom: -350px;
  transition: 1.2s;
  margin: auto;
}

.followImageDiv.active {
  bottom: 0;
}

.projectListView span {
  padding-right: 70px;
  padding-left: 20px;
}

@media (min-width: 767px) and (max-width: 1025px) {
  .projectListView p {
    font-size: 70px;
  }

  .align {
    margin-top: 20%;
  }
}

@media (min-width: 320px) and (max-width: 769px) {
  .imageContainer {
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
  }

  .projectListView p {
    font-size: 30px;
  }

  .projectListView span {
    padding-right: 30px;
    padding-left: 20px;
  }

  .projectListView {
    line-height: 120px;
  }

  .projectsFooter p:first-child {
    display: none;
  }

  .projectsFooter p:last-child {
    display: none;
  }

  .projectsFooter {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .allProjectsImages {
    flex-direction: column;
    gap: 50px;
    overflow-y: auto;
    align-items: center;
    margin-top: 10vh;
    height: 75vh;
  }

  .allProjectsImages img {
    width: 85vw;
    height: 65vh;
    margin-right: 10px;
  }

  .allProjectsImages::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 769px) {
  .allProjectsImages {
    height: 75vh;
  }

  .allProjectsImages img {
    display: flex;
    width: 65vw;
    height: 65vh;
    margin: auto;
  }
}
