@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');


.case-study-intro {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.case-title {
  font-size: 20px;
  color: rgb(131, 131, 131);
}

.my-latest-work {
  font-family: 'Roboto', sans-serif;
  color: rgb(1, 1, 35);
  font-size: 30px;
}

.project1, .project3 {
  background-image: url('../assets/cute-cat.jpg');
  background-size: fill;
  background-repeat: no-repeat;
  height: 440px;
  margin: auto;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 90px;
  box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.2);
}

.project2 {
  background-image: url('../assets/cute-cat.jpg');
  background-size: fill;
  background-repeat: no-repeat;
  height: 440px;
  margin: auto;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 90px;
  box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.2);
  margin-left: 320px
}

.allProjects:nth-child(odd) {
  margin-left: 320px;
}

.project-number-odd {
  font-size: 140px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: right;
  margin-right: 20px;
}

.project-name-odd {
  color: white;
  font-size: 50px;
  margin-top: 0;
  padding-left: 50px;
  margin-bottom: 10px;
}

.project-description-odd {
  width: 40%;
  color: white;
  padding-left: 50px;
}

.view-button-odd {
  padding: 10px;
  margin-left: 7%;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 0;
  font-weight: bold;
}

.project-number {
  font-size: 140px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
}

.project-name {
  color: white;
  font-size: 50px;
  text-align: right;
  padding-right: 50px;
  margin-bottom: 10px;
}

.project-description {
  display: flex;
  text-align: right;
  width: 40%;
  margin: auto;
  margin-right: 50px;
  color: white;
  padding-left: 50px;
  justify-content: flex-end;
}

.view-button {
  padding: 10px;
  margin-left: 80%;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: 0;
  font-weight: bold;
  text-align: right;
}
