.ribbon-case-study {
  text-align: center;
  font-size: 42px;
  color: gray;
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 50px;
}

.imageImage {
  width: 500px;
  height: 700px;
}

.each-project {
  width: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
}

.project-image-div {
  background-image: url('../assets/food.jpg');
  height: 95vh;
  width: 40vw;
  cursor: none;
  background-size: cover;
  background-size: 100% 100%;
  transition: background-size 2s ease;
  border: 0;
  transform: translateZ(-10px);
}

.project-image-div:hover {
  background-size: 110%;
  transition: 2s;
}

.projectTitle {
  width: 95%;
  background-color: white;
  margin: auto;
  margin-top: 90px;

  /* margin-left: 3%; */
  font-size: 90px;
  text-align: center;
  border: 0;
  cursor: none;
}

.underline-reveal {
  position: relative;
  overflow: hidden;
}

.underline-reveal::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 4px;
  background-color: yellow;
  color: red;
  transition: width 0.5s ease;
}

.underline-reveal:hover::after {
  width: 70%;

  /* writing-mode: var(); */
}

.project-brief {
  font-size: 24px;
  width: 60%;
  margin: auto;
  margin-top: 7%;
  text-align: left;
}

.see-more-halo {
  display: none;
}

.legacy-projects {
  display: block;
  width: 50%;
  margin: auto;
  margin-top: 120px;
  background-color: white;
  color: rgb(160, 160, 160);
  color: black;
  font-size: 60px;
  text-align: center;
  position: relative;
  cursor: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.legacy-projects::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 4px;
  background-color: rgb(110, 110, 110);
  transition: width 0.5s ease;
}

.legacy-projects:hover::after {
  width: 100%;
}

/*
.projectTitle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 10px;
  background-color: black;
  transition: width 0.5s ease;
}

.projectTitle:hover::after {
  width: 100%;
}

.parallaxContainer {
  /* Add styles for the parallax container */

/* overflow: hidden;
  perspective: 1000px; /* Adjust perspective value as needed */

.parallaxProjectImage {
  /* Add styles for the project image */
  width: 100%;
  height: 70vh;
}

.parallaxProjectImage:hover {
  transform: translateZ(0);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.passionate-dev {
  opacity: 0;
  animation: fade-in 2s ease-in-out forwards;
}
