@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.ProjectDiv {
  width: 100vw;
  height: 100vh;
  background-color: #222;
  overflow: hidden;
}

.allProjectsImages {
  display: flex;
  width: 90%;
  scroll-snap-type: x mandatory;
  height: 75vh;
  margin: auto;
  padding-top: 7%;
  overflow-x: auto;
  white-space: nowrap;
  gap: 50px;
  overflow: hidden;

}

.projectImage {
  width: 390px;
  height: 550px;
  margin-right: 10px;
  background-color: red;
  transition: transform 0.5s ease-in-out;
}

.projectPlusInfo {
  transition: filter 0.3s;
}

/* .hovered {
  filter: grayscale(100%);
} */

.greyedOut {
  filter: grayscale(100%);
}

.projectImage {
  transition: transform 1s;
}

.hoveredImg {
  transform: scale(1.05);
}


.projectInfo p {
  width: 80%;
}

.projectsFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
}

.projectsFooter p {
  color: white;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

.listView {
  cursor: pointer;
  text-decoration: underline;
  line-height: 10px;
}

.projectListView {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 77%;
  z-index: 5;
  position: absolute;
  top: 13%;
  left: 5%;
  overflow-y: auto;
  font-family: Montserrat, sans-serif;
  line-height: 170px;
  margin: auto;
}

.projectListView::-webkit-scrollbar {
  display: none;
}

.projectListView p {
  color: white;
  font-size: 120px;
  cursor: pointer;
  transition: 1s;
  border: 0;
  border-top: 1px solid rgb(180, 180, 180);
  font-family: Montserrat, sans-serif;
}

.followImage {
  width: 250px;
  height: 350px;
  position: fixed;
  pointer-events: none;
  cursor: none;
  transition: transform 0.3s ease-in-out;
}

.projectListView span {
  padding-right: 70px;
  padding-left: 20px;
}

.projectPlusInfo {
  display: flex;
}

.projecImageTitle {
  text-align: right;
  margin-right: 15px;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .projectListView p {
    font-size: 70px;
  }
}

@media (min-width: 320px) and (max-width: 769px) {
  .projectListView p {
    font-size: 30px;
  }

  .projectListView span {
    padding-right: 30px;
    padding-left: 20px;
  }

  .projectListView {
    line-height: 120px;
  }

  .projectsFooter p:first-child {
    display: none;
  }

  .projectsFooter p:last-child {
    display: none;
  }

  .projectsFooter {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .allProjectsImages {
    flex-direction: column;
    gap: 50px;
    overflow: auto;
    align-items: center;
    margin-top: 10vh;
    height: 75vh;

    /* background-color: red; */
  }

  .allProjectsImages img {
    width: 85vw;
    height: 65vh;
    margin-right: 10px;
  }

  .allProjectsImages::-webkit-scrollbar {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 769px) {
  .allProjectsImages {
    height: 75vh;
  }

  .allProjectsImages img {
    display: flex;
    width: 65vw;
    height: 65vh;
    margin: auto;

    /* margin-right: 0 5%; */
  }
}
