@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

.case-study-intro {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.case-title {
  font-size: 20px;
  color: rgb(131, 131, 131);
}

.my-latest-work {
  font-family: 'Roboto', sans-serif;
  color: rgb(1, 1, 35);
  font-size: 30px;
}

.project1,
.project3 {
  /* background-image: url('../assets/cute-cat.jpg'); */
  /* background-repeat: no-repeat; */
  height: 440px;
  margin: auto;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 90px;
  color: black;
  box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-position 0.4s, transform 0.3s;
  transition: 2s;

}

.project1:hover, .project3:hover {
  background: linear-gradient(to left, rgb(255, 96, 27) 50%,  #fff 50%,);
  background-color: green;
  z-index: 2;
  transform: scale(1.1);
  color: black;
  background-size: 200% 100%;
  background-position: right bottom;
}

/* .view-button-odd:hover {
  background-position: left bottom;
  transform: scale(1.1);
  color: white;
} */

.project2 {
  background-image: url('../assets/cute-cat.jpg');
  background-repeat: no-repeat;
  height: 440px;
  margin: auto;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 90px;
  box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.2);
  margin-left: 320px;
  cursor: pointer;
}

.allProjects:nth-child(odd) {
  margin-left: 320px;
}

.project-number-odd {
  font-size: 140px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: right;
  margin-right: 20px;
}

.project-name-odd {
  color: white;
  font-size: 50px;
  margin-top: 0;
  padding-left: 50px;
  margin-bottom: 10px;
}

.view-button-odd {
  margin-left: 7%;
  margin-top: 20px;
  color: black;
  border: 0;
  font-weight: bold;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 96, 27) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.4s, transform 0.3s;
}

.view-button-odd:hover {
  background-position: left bottom;
  transform: scale(1.1);
  color: white;
}

.project-number {
  font-size: 140px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
}

.project-name {
  color: white;
  font-size: 50px;
  text-align: right;
  padding-right: 50px;
  margin-bottom: 10px;
  margin-top: 0;
}

.project-description {
  display: flex;
  text-align: right;
  width: 40%;
  margin: auto;
  margin-right: 50px;
  color: white;
  padding-left: 50px;
  justify-content: flex-end;
  font-size: 18px;
}

.view-button {
  padding: 15px;
  margin-left: 73%;
  margin-top: 20px;
  color: black;
  border: 0;
  font-weight: bold;
  text-align: right;
  font-size: 18px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(255, 96, 27) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.4s, transform 0.3s;
}

.view-button:hover {
  background-position: left bottom;
  transform: scale(1.1);
  color: white;
}

.project-description-odd {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 40%;
  padding-left: 50px;
  font-size: 18px;
}
