@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.ProjectDiv {
  width: 100vw;
  height: 100vh;
  background-color: #0f0f0f;
  overflow: hidden;
}

.allProjectsImages {
  display: flex;
  width: 90%;
  height: 80vh;
  margin: auto;
  padding-top: 7%;
  overflow-x: auto;
  white-space: nowrap;
  gap: 50px;
  overflow: hidden;
}

.allProjectsImages img {
  width: 390px;
  height: 550px;
  margin-right: 10px;
}

.allProjectsImages img:nth-child(even) {
  width: 350px;
  height: 450px;
  vertical-align: middle;
}

.projectsFooter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: auto;
}

.projectsFooter p {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.listView {
  cursor: pointer;
  text-decoration: underline;
  line-height: 10px;
}

.projectListView {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80%;
  z-index: 5;
  position: absolute;
  top: 10%;
  left: 5%;
  overflow-y: auto;
  font-family: Montserrat, sans-serif;
  line-height: 200px;
  margin: auto;
}

.projectListView p {
  color: white;
  font-size: 140px;
  cursor: pointer;
  transition: 1s;
  border: 0;
  border-bottom: 1px solid white;
}

.projectListView p:hover {
  opacity: 0.7;
}
