.cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  cursor: none;
}

.cursor {
  position: absolute;
  z-index: 15;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #c5c5c5;
  color: rgb(155, 155, 155);
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: transform 0.1s ease-out;
  background-color: rgb(202, 200, 192);
}

.cursor:active {
  width: 80px;
  height: 80px;
}

.cursor p {
  margin-top: 25%;
  margin-left: 25%;
  color: rgb(0, 0, 0);
  color: white;
  font-size: 22px;
  width: 50%;
  height: 50%;
  text-align: center;
  font-weight: bold;
}

.cursor::after {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.4;
}
