.cursorContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.cursor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 23px;
  pointer-events: none;
  cursor: none;
  transition: opacity 0.3s, visibility 0s 5s;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.cursor:active {
  width: 80px;
  height: 80px;
}

.cursor::after {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 0.4;
}
