.fa-brands {
  color: rgb(233, 217, 217);
  font-size: 15px;
  margin-top: 35px;
  border-radius: 50%;
  padding: 8px;
  background: linear-gradient(to right, lime 50%, #000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  background-color: black;
  transition: background-position 0.4s, transform 0.3s;
}

.fa-brands:hover {
  background-position: left bottom;
  transform: scale(1.2);
  color: black;
}

.socials-div {
  display: flex;
  position: absolute;
  left: 90vw;
  top: 50vh;
}

.all-socials {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.social-and-pole {
  display: flex;
}

.poles {
  display: flex;
  align-items: flex-end;
}

.green-pole {
  display: block;
  margin-right: 10px;
  width: 1px;
  height: 220px;
  margin-top: 140px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: rgb(80, 242, 80);
  border-radius: 2px;
}
