.loader {
  height: 100vh;
  margin: 0;
  background: black;
}

.loadingPercentage {
  bottom: 0;
  position: relative;
  width: 80%;
  margin: auto;
}

.dynamicPercentage {
  font-size: 120px;
  bottom: 10vh;
  right: 10vw;
  position: fixed;
  color: rgb(233, 217, 217);
}

.progressBar {
  height: 1px;
  bottom: 8vh;
  left: 10vh;
  position: fixed;
  border-radius: 4px;
  background-color: rgb(233, 217, 217);
  margin-top: 50px;
}

/* Horizontal Scroll of Projects */

.modal {
  background-color: red;
  z-index: 9999;
  position: absolute;
  height: 100vh;
  margin: 0
}
