.loader {
  height: 100vh;
  margin: 0;
  background: black;
  cursor: none;
}

.loadingPercentage {
  bottom: 0;
  position: relative;
  width: 80%;
  margin: auto;
}

.dynamicPercentage {
  font-size: 120px;
  bottom: 10vh;
  right: 10vw;
  position: fixed;
  color: rgb(233, 217, 217);
}

.progressBar {
  height: 1px;
  bottom: 8vh;
  left: 10vh;
  position: fixed;
  border-radius: 4px;
  background-color: rgb(233, 217, 217);
  margin-top: 50px;
}

/* Horizontal Scroll of Projects */

.modal {
  background-color: red;
  z-index: 9999;
  position: absolute;
  height: 100vh;
  margin: 0;
}

.loaderMyName,
.loaderMyYear {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.loaderMyYear {
  text-align: center;
}

.loaderNameDiv {
  position: relative;
  top: 60px;
  left: 100px;
  width: 20%;
}

@media (min-width: 280px) and (max-width: 768px) {
  .loaderMyName {
    font-size: 20px;
  }

  .loaderNameDiv {
    top: 60px;
    left: 20px;
    width: 80%;
  }

  .dynamicPercentage {
    font-size: 50px;
    bottom: 10vh;
    right: 10vw;
    position: fixed;
    color: rgb(233, 217, 217);
  }

  .loadingline {
    width: 80%;
  }

  .progressBar {
    width: 80%;
    margin: auto;
    height: 1px;
    left: 3vh;
    position: fixed;
    border-radius: 4px;
  }

  .loaderMyYear {
    text-align: left;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .loaderNameDiv {
    top: 60px;
    left: 20px;
    width: 80%;
  }

  .loaderMyYear {
    text-align: left;
  }
}
