@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-section {
  display: grid;
  grid-template-columns: 5fr 1fr;
  background: linear-gradient(to right, #000, #111);
  height: 700px;

.my-name-intro {
  margin: auto;
  margin-top: 18%;
  color: white;
  text-align: center;
  width: 70%;
  font-size: 20px;
}

p {
  margin: 0;
}

.name {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Euphoria Script', cursive;
}

.portfolio-footer {
  background-color: black;
  height: 120px;
  color: white;
  text-align: center;
  padding-top: 90px;
  font-weight: bold;
}

.reserved-footer {
  /* width: 50%; */
  margin: auto;
}

.tagline {
  font-size: 22px;
}
