@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-section {
  display: grid;
  grid-template-columns: 5fr 1fr;
  background: linear-gradient(to right, #000, #111);
  height: 700px;
}

.my-name-intro {
  margin: auto;
  margin-top: 18%;
  color: white;
  text-align: center;
  width: 70%;
  font-size: 20px;
}

p {
  margin: 0;
}

.name {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Euphoria Script', cursive;
}

.portfolio-footer {
  background-color: black;
  height: 120px;
  color: white;
  text-align: center;
  padding-top: 90px;
  font-weight: bold;
}

.reserved-footer {
  margin: auto;
}

.tagline {
  font-size: 22px;
}

/* Track */
::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#c6e6ca, #ffb6c1); /* Mint Green to Pink Rose */
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#ffb6c1, #c6e6ca); /* Pink Rose to Mint Green */
}

