@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');

/* <style> */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,500&display=swap');

/* </style> */

/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mouse Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#c6e6ca, #ffb6c1); /* Mint Green to Pink Rose */
  border-radius: 5px;
}

/* Mouse Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#ffb6c1, #c6e6ca); /* Pink Rose to Mint Green */
}
