.oneProjectImage {
  height: 650px;
  width: 100px;
}

.carouselDiv {
  padding: 10vh 0;
  width: 80vw;
  margin: auto;
}

@media (min-width: 280px) and (max-width: 767px) {
  .oneProjectImage {
    height: 50vh;
  }
}
