
.viewLatestProjectDiv {
  display: flex;
  margin-top: 15vh;
  background-color: black;
  height: 20vh;
  color: white;
  
}

.nextProjectLink {
  transition: 2s;
  opacity: 0.8;
}

.nextProjectLink:hover {
  opacity: 1;
  box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.2);
  /* transition: 2s; */
}


.viewLatestProject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: auto;
}

.nextProjectName {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.viewNextRibbon {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.longArrow {
  font-size: 100px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

/* NextProject.module.css */

.nextProjectWrapper {
  position: relative;
  /* overflow: hidden; */
}


.filter {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease-out;
}

.nextProjectWrapper:hover .filter {
  left: 0;
}

/* Add any additional styles you need for the component here */


@media (min-width: 768px) and (max-width: 1025px) {
  .viewLatestProject {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 769px) {
  .viewLatestProject {
    width: 90%;
  }

  .nextProjectName {
    font-size: 40px;
  }

  .longArrow {
    font-size: 50px;
  }

  .viewNextRibbon {
    font-size: 13px;
  }
}
