.summaryDiv {
  padding: 70px 0;
}

.descriptionAndImage {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 70%;
  margin: auto;

  /* background-color: red; */
}

.descriptionAndImage div {
  align-items: center;
  margin: 0 auto;
}

h3 {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  color: rgb(27, 27, 27);
  font-size: 32px;
}

.builtFor {
  font-size: 28px;
  color: rgb(33, 33, 82);
  width: 80%;
  margin: auto;
  font-weight: 700;
}

.description {
  width: 80%;
  margin: auto;
  line-height: 34px;
  text-align: justify;
  margin-top: 20px;
}

.projectSummaryImage {
  height: 50vh;
  margin: 0 auto;
  background-color: yellow;

  /* width: 20vw; */
}

@media (min-width: 768px) and (max-width: 1025px) {
  .descriptionAndImage {
    width: 90%;
  }

  .builtFor {
    font-size: 20px;
  }

  .description {
    line-height: 20px;
  }

  .projectImage {
    height: 50vh;
    width: 40vw;
  }
}

@media (min-width: 320px) and (max-width: 769px) {
  .descriptionAndImage {
    flex-direction: column;
    width: 90%;
  }

  .projectImage {
    display: none;
  }

  h3 {
    width: 80%;
  }

  .description {
    width: 95%;
    line-height: 24px;
    margin-top: 15px;
  }

  .builtFor {
    font-size: 18px;
    width: 95%;
  }
}
