@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.Projectheader {
    display: flex;
    color: black;
  }
 
  .navBar {
    display: flex;
    position: absolute;
    color: white;
    /* background-color: red; */
    right: 0;
    left: 0;
    padding: 30px 0;
    justify-content: space-around;
  }

  .logo {
    font-size: 24px;
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;

  }
  .navList {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .navItem {
    margin-right: 40px;
    font-size: 22px;
  }
