.projectHero {
  background-color: #0d1123;
  height: 100vh;
  /* overflow-y: auto; */
  top: 0;
}

.ProjectImage {
  height: 400px;
  width: 300px;
}

.mainHeroSection {
  display: flex;
  justify-content: space-between;
  padding-top: 30vh;
  color: white;
  width: 65%;
  margin: auto;
  align-items: center;
}

.boldProjectName {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
}

.shortProjectDescription {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  text-align: center;
}

.developerRole {
  display: flex;
  color: white;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.eachRole {
  display: flex;
  position: relative;
  padding-top: 5%;
  /* top: 20vh; */
}

.eachRole p {
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.eachRole :nth-child(1) {
  color: aqua;
}

@media (max-width: 768px) {
  .eachRole {
    flex-direction: column;
    text-align: center;
  }

  .boldProjectName {
    font-size: 70px;
  }

  .shortProjectDescription {
    width: 70%;
    text-align: left;
    font-size: 16px;
    text-transform: capitalize;
  }

  .ProjectImage {
    height: 300px;
    width: 250px;
  }

  .mainHeroSection {
    width: 85%;
  }

  .developerRole {
    margin-top: 50px;
  }

}
