.projectHero {
  display: flex;
  align-items: center;
  height: 100vh;
  top: 0;
  background-size: cover;
  background-position: center;
  background-color: rgb(56, 56, 56);
}

.ProjectImage {
  height: 350px;

  /* width: 500px; */
}

.mainHeroSection {
  display: flex;
  justify-content: space-between;
  padding-top: 15vh;
  color: black;
  width: 90%;
  margin: auto;
  align-items: center;
}

.boldProjectName {
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  color: rgb(2, 12, 31);
}

.shortProjectDescription {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  text-align: center;
  color: black;
}

.developerRole {
  display: flex;
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 40px;
  color: rgb(57, 67, 53);
  align-self: center;
  justify-content: space-around;
  font-weight: bolder;

  /* background-color: red; */
}

.eachRole {
  display: flex;
  position: relative;
  padding-top: 5%;

  /* top: 20vh; */
}

.eachRole p {
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
}

.eachRole :nth-child(1) {
  color: rgb(247, 4, 211);
}

@media (min-width: 768px) and (max-width: 1300px) {
  .eachRole {
    flex-direction: column;
    text-align: center;
  }

  .boldProjectName {
    font-size: 70px;
  }

  .shortProjectDescription {
    width: 70%;
    text-align: left;
    font-size: 16px;
    text-transform: capitalize;
  }

  .ProjectImage {
    height: 300px;
    width: 250px;
  }

  .mainHeroSection {
    width: 85%;
  }

  .developerRole {
    margin-top: 50px;
  }
}

@media (min-width: 320px) and (max-width: 769px) {
  .developerRole {
    display: none;
  }

  .mainHeroSection {
    flex-direction: column;
  }

  .boldProjectName {
    font-size: 65px;
    margin-top: 70px;
  }

  .ProjectImage {
    display: none;
  }

  .shortProjectDescription {
    font-size: 20px;
    width: 100%;
    text-align: left;
  }
}

@media (min-width: 480px) and (max-width: 769px) {
  .boldProjectName {
    font-size: 80px;
  }
}
