.descriptionAndImage {
  display: flex;
  width: 70%;
  margin: auto;
}

h3 {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  color: rgb(102, 102, 102);
}

.builtFor {
  font-size: 28px;
  color: rgb(33, 33, 82);
  width: 80%;
  margin: auto;
  font-weight: 700;
}

.description {
  width: 80%;
  margin: auto;
  line-height: 34px;
  text-align: justify;
  margin-top: 20px;
}

.projectImage {
  height: 60vh;
  width: 30vw;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .descriptionAndImage {
    width: 90%;
  }

  .builtFor {
    font-size: 20px;
  }

  .description {
    line-height: 20px;
  }

  .projectImage {
    height: 50vh;
    width: 40vw;
  }
}

@media (min-width: 320px) and (max-width: 769px) {
  .descriptionAndImage {
    flex-direction: column;
    width: 90%;
  }

  .projectImage {
    display: none;
  }

  h3 {
    width: 80%;
  }

  .description {
    width: 95%;
    line-height: 24px;
    margin-top: 15px;
  }

  .builtFor {
    font-size: 18px;
    width: 95%;
  }
}

