.summaryDiv {
  display: flex;
  padding: 70px 0;
  flex-direction: column;
}

.descriptionAndImage {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

.descriptionAndImage div {
  align-items: center;
  margin: 0 auto;
}

h3 {
  width: 50%;
  margin: auto;
  text-align: center;

  /* padding-top: 120px; */
  color: rgb(27, 27, 27);
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.builtFor {
  font-size: 28px;
  color: rgb(33, 33, 82);
  width: 80%;
  margin: auto;
  font-weight: 700;
}

.description {
  width: 80%;
  margin: auto;
  line-height: 34px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  font-size: 20px;
}

.projectSummaryImage {
  margin: 0 auto;
  box-shadow: 15px 15px 40px 0 rgba(0, 0, 0, 0.2);
}

.carouselRibbon {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 130px;
  font-weight: 200;
  text-transform: uppercase;
  position: relative;
  display: inline-block;

  /* cursor: pointer; */
  margin: auto;
}

/* Create the underline effect using a pseudo-element */
.carouselRibbon::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #000; /* Change this to the color you want for the underline */
  transition: width 0.5s ease; /* Adjust the transition duration as needed */
}

/* Set the hover effect to animate the width of the pseudo-element */
.carouselRibbon:hover::after {
  width: 100%;
  animation: underlineSlide 0.5s forwards;
}

.projectSummaryRibbon {
  width: auto;
  display: inline-block;
  padding: 0;
  font-size: 32px;
  padding-top: 50px;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .descriptionAndImage {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .builtFor {
    font-size: 20px;
  }

  .description {
    font-size: 24px;
    line-height: 30px;
  }

  .projectImage {
    height: 50vh;
    width: 40vw;
  }

  .projectSummaryImage {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 769px) {
  .descriptionAndImage {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
  }

  .projectImage {
    display: none;
  }

  h3 {
    width: 80%;
  }

  .description {
    width: 95%;
    line-height: 24px;
    margin-top: 15px;
  }

  .builtFor {
    font-size: 18px;
    width: 95%;
  }

  .projectSummaryImage {
    display: none;
  }

  .carouselRibbon {
    font-size: 30px;
  }
  
}

@media (min-width: 1025px) and (max-width: 1350px) {
  .descriptionAndImage {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .projectSummaryImage {
    display: none;
  }
}
