.viewProjectsection {
  height: 50vh;
  background-color: rgba(134, 135, 134, 0.3);
}

.introDiv {
  width: 60%;
  margin: auto;
  color: rgb(57, 57, 57);
  z-index: 1;
  font-size: 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 70px;
  color: rgb(75, 73, 73);
}

.introDiv p {
  width: 50%;
  margin: auto;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 30px;
  color: rgb(75, 73, 73);
}

.introDiv div {
  margin: auto;
  color: white;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.projectBackground {
  font-size: 300px;
  color: white;

  /* color: rgb(207, 207, 207); */
  opacity: 0.1;
  position: absolute;
  width: 95%;
  margin: auto;
  text-align: center;
  padding-top: 20vh;
  pointer-events: none;
}

.viewCodeWebsite {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.viewCode {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  color: black;
  background: linear-gradient(to right, rgb(8, 8, 8) 50%, #fff 50%);
  background-position: right bottom;
  background-color: transparent;
  background-size: 200% 100%;
  transition: background-position 0.4s, transform 0.3s;
}

.viewCode:hover {
  background-position: left bottom;
  transform: scale(1.1);
  color: white;
}

@media (min-width: 768px) and (max-width: 1300px) {
  .projectBackground {
    font-size: 150px;
    padding-top: 30vh;
  }

  .introDiv {
    width: 90%;
  }

  .viewCodeWebsite:nth-child(2) {
    margin-left: 50px;
  }

  .introDiv p {
    margin-bottom: 20px;
    width: 70%;
  }

}

@media (min-width: 320px) and (max-width: 769px) {
  .introDiv p {
    width: 90%;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 30px;
  }

  .projectBackground {
    font-size: 70px;
    width: 95%;
    padding-top: 40vh;
  }

  .viewCode {
    font-size: 12px;
  }

  .introDiv div {
    width: 70%;
  }

  .introRibbon {
    font-size: 18px;
    text-decoration: underline;
  }

  .introDiv {
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 769px) {
  .introDiv {
    width: 65%;
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .projectBackground {
    font-size: 180px;
    width: 95%;
    padding-top: 30vh;
  }
}
